$backdrop__filter--privacy: blur(10px);
$bg__blend--type: multiply;
$bg__classes:
    "error",
    "comingsoon",
    "privacy",
    "index",
    "index-sub",
    "hotels",
    "tours",
    "lastminute",
    "contact",
    "user";
$bg__comingsoon-img: "../img/city.jpg";
$bg__contact-img:
    "../img/contact_side.jpg";
$bg__error-img: "../img/error.jpg";
$bg__hotels-img:
    "../img/hotels/swimming_pool.jpg";
$bg__index-img:
    "",
    "../img/palm.png";
$bg__index-sub-img:
    "../img/contact_side.jpg";
$bg__lastminute-img:
    "../img/adventure.jpg";
$bg__privacy-img: "../img/privacy.jpg";
$bg__tours-img:
    "../img/tours/travel.jpg";
$bg__user-img:
    "../img/contact_side.jpg";
$bg__aoa:
    $bg__error-img,
    $bg__comingsoon-img,
    $bg__privacy-img,
    $bg__index-img,
    $bg__index-sub-img,
    $bg__hotels-img,
    $bg__tours-img,
    $bg__lastminute-img,
    $bg__contact-img,
    $bg__user-img;
$body__min-height: 100%;
$body__min-width: 360px;
$color__bg-1: #ddd;
$color__dark: #333;
$color__gray: #ececec;
$color__green: #56bd97;
$color__light-green: lighten($color__green,40%);
$color__silver: #999;
$color__transparent: transparent;
$color__white:#fff;
$font-logo__family: 'Quicksand';
$font-logo__size: 24px;
$font-main__family: 'Oxygen';
$font-main__size: 16px;
$header__height: 74px;
$input__bottom-border: 1px solid $color__green;
$label__opacity: 0.8;
$label__shadow: 1px 1px 4px black;
$section__min-height: 100vh;
$text__shadow: 0 0 3px $color__dark;
$theme-colors: (
  "primary": $color__green,
  "secondary": #fff,
  "gray":$color__gray,
  "light":#ccc,
  "dark":#333,
  "silver":$color__silver,
  "light-green":$color__light-green
);